@model Travel_Nest.Models.Utenti

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="login" class="container d-flex align-items-center py-5 bg-light rounded-3" style="height: 430px; width:350px; margin:100px auto;">
        <div class="container d-flex flex-column">
            <h2 class="text-center py-3 rounded-3">Registrazione</h2>
            <div class="form-group d-flex align-items-center mb-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <i class="fa-solid fa-user" style="color: #373737; margin-right:5px;"></i>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome" , style = "margin-right:5px;" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "form-control", placeholder = "Cognome" } })
                @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
            </div>

            <div class="form-group d-flex align-items-center mb-3">
                <i class="fa-solid fa-envelope" style="color: #373737; margin-right:5px;"></i>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group d-flex align-items-center mb-3">
                <i class="fa-solid fa-key" style="color: #373737; margin-right:5px;"></i>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-center mb-3">
                @Html.HiddenFor(model => model.Ruolo, new { Value = "User" })
            </div>

            <div class="form-group d-flex flex-column align-items-center justify-content-center mb-3">
                <div>
                    <input type="submit" value="Create" class="btn btn-primary mb-4" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
