@model Travel_Nest.Models.Utenti

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center text-danger my-4">Elimina</h2>
<div id="login" class="container w-50 bg-light my-5 rounded-3">
    <h3 class="py-3 text-center">Sei sicuro/a di voler eliminare l'account?</h3>
    <div class="container">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cognome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cognome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.HiddenFor(model => model.Ruolo)
            </dt>

            <dd>
                @Html.HiddenFor(model => model.Ruolo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color pb-5">
                <input type="submit" value="Delete" class="btn btn-danger me-3" />
                @Html.ActionLink("Indietro", "Index")
            </div>
        }
    </div>
</div>
