@model IEnumerable<Travel_Nest.Models.Utenti>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center fw-bold my-5 text-white">Utenti Registrati</h1>
<div class="container" style="height:100vh;">
    <table class="table table-hover w-50 m-auto">
        <tr class="table-dark fs-4">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cognome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }

    </table>
</div>
