﻿@{
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    int userId = 0;
    int adminId = 0;
    if (authCookie != null)
    {
        var ticket = FormsAuthentication.Decrypt(authCookie.Value);
        if (!string.IsNullOrEmpty(ticket.UserData))
        {
            userId = Convert.ToInt32(ticket.UserData);
            adminId = Convert.ToInt32(ticket.UserData);
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Travel Nest</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <script src="https://kit.fontawesome.com/23e6196c74.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>

    <nav id="mynav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
        <div class="container">
            <i class="fa-solid fa-plane-departure fa-flip mx-2 fs-3" style="color: #ffffff;"></i>
            @Html.ActionLink("Travel Nest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "font-family: 'Satisfy', cursive; font-weight: bold; font-size: 30px;" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                    </li>
                </ul>
                @if (authCookie != null)
                {
                    <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Lista Utenti", "Index", "Utenti", new { id = userId }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Gestione Alloggi", "Index", "Alloggi", new { id = userId }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Gestione Recensioni", "Index", "Admin", null, new { @class = "nav-link me-4" })</li>
                    }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Le tue Prenotazioni", "Index", "Prenotazioni", new { id = userId }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Le tue Recensioni", "Index", "Recensioni", new { id = userId }, new { @class = "nav-link" })</li>
                            <li>
                                <a class="nav-link" href="@Url.Action("Edit", "Utenti", new { id = userId })"> <i class="fa-solid fa-user"></i></a>
                            </li>
                        }

                        <li class="d-flex align-items-center text-white me-2"> @User.Identity.Name </li>
                        <li>
                            <form action="@Url.Action("Logout", "Login")" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-outline-danger rounded-pill text-white fw-bold">Logout</button>
                            </form>
                        </li>
                    </ul>
                }

                @if (authCookie == null)
                {
                    <ul class="navbar-nav">
                        <li>
                            <form action="@Url.Action("Create", "Utenti")" method="get">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-outline-primary rounded-pill text-white fw-bold m-2">Registrati</button>
                            </form>
                        </li>
                        <li>
                            <form action="@Url.Action("Index", "Login")" method="get">
                                <button type="submit" class="btn btn-outline-success rounded-pill text-white fw-bold m-2">Accedi</button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="text-center py-2 text-white">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="fw-bold mb-4">Contatti</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Via delle Vacanze, 123 - 00123, Roma</p>
                    <p><i class="fas fa-envelope"></i> info@travelnest.com</p>
                    <p><i class="fas fa-phone"></i> +39 012 345 6789</p>
                </div>
                <div class="col-lg-6">
                    <h5 class="fw-bold mb-3">Seguici su</h5>
                    <div class="social-icons">
                        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="my-3">&copy; @DateTime.Now.Year - Travel Nest SRL</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
