@model Travel_Nest.Models.Alloggi

@{
    ViewBag.Title = "Delete";
}

<div class="container p-5">
<h3>Are you sure you want to delete?</h3>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.NomeAlloggio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAlloggio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrezzoPerNotte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezzoPerNotte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibilita)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Indietro", "Index")
        </div>
    }
</div>
