@model IEnumerable<Travel_Nest.Models.Alloggi>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center fw-bold mt-5 text-white">Lista Alloggi</h1>

<div class="text-center">
    <button type="button" class="btn btn-primary my-3" onclick="location.href='@Url.Action("Create")'">Aggiungi Alloggio</button>
</div>

<table class="table table-hover w-75 m-auto mb-5 bg-light rounded-2">
    <tr class="table-primary fs-4">
        <th>
            @Html.DisplayNameFor(model => model.NomeAlloggio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoPerNotte)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Disponibilita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAlloggio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.PrezzoPerNotte) &euro;
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Disponibilita)
        </td>
        <td>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-info text-white mx-1" onclick="location.href='@Url.Action("Edit", new { id = item.IDAlloggio })'">Edit</button>
                <button type="button" class="btn btn-danger mx-1" onclick="location.href='@Url.Action("Delete", new { id = item.IDAlloggio })'">Delete</button>
            </div>
        </td>
    </tr>
}

</table>
