@model IEnumerable<Travel_Nest.Models.Prenotazioni>

@{
    ViewBag.Title = "Elenco Prenotazioni";
}

<div class="container py-5">
    <h1 class="text-center my-5 text-white" style="font-family: 'Satisfy', cursive; font-weight: bold; font-size: 50px;">Le tue prenotazioni</h1>
    @if (TempData["PrenotazioneCancellata"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @TempData["PrenotazioneCancellata"]
        </div>
    }

    @if (!Model.Any())
    {
        <h3 class="text-center text-danger mb-5">Al momento non hai nessuna prenotazione.</h3>
    }
    else
    {
        <table class="table table-hover w-75 m-auto">
            <tr class="table-dark">
                <th>Prenotazione</th>
                <th>Alloggio</th>
                <th>Data Check-In</th>
                <th>Data Check-Out</th>
                <th>Stato Prenotazione</th>
                <th>Azioni</th>
            </tr>
            @foreach (var prenotazione in Model)
            {
                <tr>
                    <td>@prenotazione.IDPrenotazione</td>
                    <td>@prenotazione.IDAlloggio</td>
                    <td>@prenotazione.DataCheckIn.ToShortDateString()</td>
                    <td>@prenotazione.DataCheckOut.ToShortDateString()</td>
                    <td>@prenotazione.StatoPrenotazione</td>
                    <td>
                        <button class="btn btn-default p-0">@Html.ActionLink("❌", "ConfermaEliminazione", new { id = prenotazione.IDPrenotazione }, new { @class = "text-decoration-none" })</button>
                    </td>
                </tr>
            }
        </table>
    }
</div>

