@model IEnumerable<Travel_Nest.Models.Prenotazioni>

@{
    ViewBag.Title = "Elenco Prenotazioni";
}

<div class="container py-5">
    <h1 class="text-center my-5 text-white" style="font-family: 'Satisfy', cursive; font-weight: bold; font-size: 50px;">Le tue prenotazioni</h1>
    @if (TempData["PrenotazioneCancellata"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @TempData["PrenotazioneCancellata"]
        </div>
    }

    @if (!Model.Any())
    {
        <h3 class="text-center text-warning mb-5 p-4 bg-warning-subtle rounded-pill border border-2 border-warning">Al momento non hai nessuna prenotazione.</h3>
    }
    else
    {
        <div class="row mb-3">
            @foreach (var prenotazione in Model)
            {
                <div class="col-md-6 mb-4 m-auto">
                    <div id="login" class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Prenotazione: @prenotazione.IDPrenotazione</h5>
                            <p class="card-text mb-3">
                                <strong>Alloggio:</strong> @prenotazione.Alloggi.NomeAlloggio<br />
                            </p>
                            <p class="card-text mb-3">
                                <strong>Data Check-In:</strong> @prenotazione.DataCheckIn.ToShortDateString() <br />
                            </p>
                            <p class="card-text mb-3">
                                <strong>Data Check-Out:</strong> @prenotazione.DataCheckOut.ToShortDateString() <br />
                            </p>
                            <p class="card-text mb-3">
                                <strong>Stato Prenotazione:</strong> @prenotazione.StatoPrenotazione
                            </p>
                                <button class="btn btn-danger" style="font-size: 20px;" onclick="location.href='@Url.Action("ConfermaEliminazione", new { id = prenotazione.IDPrenotazione })'">Elimina</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
