@model Travel_Nest.Models.Prenotazioni

@{
    ViewBag.Title = "Nuova Prenotazione";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div id="login" class="container bg-white my-5 w-50 rounded-3">
    <h2 class="text-center fw-bold p-3">Seleziona la data</h2>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDUtente)
        @Html.HiddenFor(model => model.IDAlloggio)
        <!-- Campo Data Check-in -->
        <div class="form-group m-3 text-center">
            @Html.LabelFor(model => model.DataCheckIn, "Data Check-in", htmlAttributes: new { @class = "control-label fw-bold m-2" })
            <div class="col">
                <input type="date" id="DataCheckIn" name="DataCheckIn" class="form-control" />
            </div>
                <div>
                    @Html.ValidationMessageFor(model => model.DataCheckIn, "", new { @class = "text-danger" })
                </div>
        </div>

        <!-- Campo Data Check-out -->
        <div class="form-group m-3 text-center">
            @Html.LabelFor(model => model.DataCheckOut, "Data Check-out", htmlAttributes: new { @class = "control-label fw-bold m-2" })
            <div class="col">
                <input type="date" id="DataCheckOut" name="DataCheckOut" class="form-control" />
                @Html.ValidationMessageFor(model => model.DataCheckOut, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Altri campi del form per la prenotazione -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Prenota" class="btn btn-primary m-3" />
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
