@model Travel_Nest.Models.LoginModel

@{
    ViewBag.Title = "Login";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-success text-center w-50" role="alert">
        @TempData["Message"]
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger text-center w-50 my-4 m-auto">@ViewBag.ErrorMessage</div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div id="login" class="container d-flex align-items-center py-5 bg-light rounded-3" style="height: 350px; width:300px; margin:100px auto;">
    <div class="container d-flex align-content-center align-items-center flex-column">
        <h2 class="text-center py-3 rounded-3">Login</h2>
        <div class="form-group d-flex align-items-center py-3">
            <i class="fa-solid fa-envelope" style="color: #373737; margin-right:5px;"></i>
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>

        <div class="form-group d-flex align-items-center py-3">
            <i class="fa-solid fa-key" style="color: #373737; margin-right:5px;"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-success my-3">Login</button>
    </div>
</div>
}