<main>
    <section id="banner" class="d-flex">
        <div id="hero" class="container bg-dark opacity-75 text-center w-50 h-50 m-auto d-flex flex-column align-items-center rounded-3">
            <div class="container m-auto">
                <h1 class="mb-4 text-white">Benvenuto in Travel Nest!</h1>
                <h3 class="mb-2 text-white">Qui potrai scegliere il nido per le tue prossime vacanze</h3>
                <h4 class="mb-2 text-white">Dai un'occhiata alle nostre proposte e prenota subito</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class=" py-5 text-center" style = "font-family: 'Satisfy', cursive; font-weight: bold; font-size: 50px;">Visita i nostri alloggi</h2>
            <div class="row">
                @foreach (var alloggio in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div id="login" class="card">
                            <div id="carouselExampleIndicators-@alloggio.Alloggio.IDAlloggio" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    @for (var i = 0; i < alloggio.Immagini.Count; i++)
                                    {
                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                            <img src="data:image;base64,@Convert.ToBase64String(alloggio.Immagini[i].FileData)" class="d-block w-100 rounded-top-2" alt="Immagine Alloggio">
                                        </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-@alloggio.Alloggio.IDAlloggio" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-@alloggio.Alloggio.IDAlloggio" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="card-body p-0">
                                <h5 class="card-title bg-dark text-white p-2">@alloggio.Alloggio.NomeAlloggio</h5>
                                <p class="card-text px-2">@alloggio.Alloggio.Descrizione</p>
                                <p class="card-text px-2"><span class="fw-bold">Città:</span> @alloggio.Alloggio.Citta</p>
                                <p class="card-text px-2"><span class="fw-bold">Prezzo per notte:</span> @alloggio.Alloggio.PrezzoPerNotte &euro;</p>
                                <p class="card-text px-2 pb-3"><span class="fw-bold">Disponibilità:</span> @(alloggio.Alloggio.Disponibilita ? "Disponibile" : "Non disponibile")</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
