@model Travel_Nest.Models.Recensioni

@{
    ViewBag.Title = "Dettagli Recensione";
}

<div class="container py-5">
    <h1 class="text-center my-5">Dettagli della recensione</h1>

    <dl class="row">
        <dt class="col-sm-3">ID Recensione</dt>
        <dd class="col-sm-9">@Model.IDRecensione</dd>

        <dt class="col-sm-3">Utente</dt>
        <dd class="col-sm-9">@Model.Utenti.Nome</dd>

        <dt class="col-sm-3">Alloggio</dt>
        <dd class="col-sm-9">@Model.Alloggi.NomeAlloggio</dd>

        <dt class="col-sm-3">Testo</dt>
        <dd class="col-sm-9">@Model.TestoRecensione</dd>

        <dt class="col-sm-3">Valutazione</dt>
        <dd class="col-sm-9">@Model.Valutazione</dd>

        <dt class="col-sm-3">Data Recensione</dt>
        <dd class="col-sm-9">@Model.DataRecensione.ToShortDateString()</dd>
    </dl>

    <p>
        @Html.ActionLink("Modifica", "Edit", new { id = Model.IDRecensione }) |
        @Html.ActionLink("Torna all'elenco", "Index")
    </p>
</div>
