@model IEnumerable<Travel_Nest.Models.Recensioni>

@{
    ViewBag.Title = "Elenco Recensioni";
}

<div class="container py-5">
    <h1 class="text-center text-white my-5" style="font-family: 'Satisfy', cursive; font-weight: bold; font-size: 50px;">Le tue Recensioni</h1>

    @if (!Model.Any())
    {
        <h3 class="text-center text-warning mb-5 p-4 bg-warning-subtle rounded-pill border border-2 border-warning">Non ci sono recensioni disponibili al momento.</h3>
    }
    else
    {
        <div class="row mb-3">
            @foreach (var recensione in Model)
            {
                <div class="col-md-6 mb-4">
                    <div id="login" class="card">
                        <div class="card-body">
                            <h5 class="card-title">@recensione.Utenti.Nome</h5>
                            <p class="mb-3">
                                @if (recensione != null && recensione.Alloggi != null)
                                {
                                    <strong>Alloggio:</strong> @recensione.Alloggi.NomeAlloggio <br />
                                }
                            </p>
                            <p class="mb-3">
                                <strong>Recensione:</strong> 
                            </p>
                            <p class="card-text">@recensione.TestoRecensione</p>
                                <strong>Valutazione:</strong>
                                <div class="rating">
                                    @for (int i = 1; i <= recensione.Valutazione; i++)
                                    {
                                        <span class="star"><i class="fa-solid fa-star" style="color:gold;"></i></span>
                                    }
                                </div>
                                <br />
                                <p><strong>Data Recensione:</strong> @recensione.DataRecensione.ToShortDateString()</p>
                            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = recensione.IDRecensione })'">Elimina</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
